---
layout: enciclopedia
title: Ataque híbrido
type: técnica
---

<h4 class='subtitle' id='descricao'>Descrição:</h4>
<div class='container'>
	<p>Ataque híbrido é um ataque combinatório composto de uma parte <a href='/fbrute'>Ataque de força bruta&#x2197;</a> e a outra parte<a href='/adicio'>Ataque de dicionário&#x2197;</a>.</p>
	<p>Exemplo:</p>
	<p>Usando a lista: "senha", "admin" e "user" com brute force de 3 números resulta em:<p>
	<p>senha000, senha001, senha002, ..., admin000, admin001, admin002, ..., user000, user001, user002, user003, ... user999</p>
</div>
<h4 class='subtitle' id='ferramentas'>Ferramentas que utilizam ataque híbrido:</h4>
<div class='container'>
	<ul>
		<li>
			<a href='/hashcat'>hashcat</a>
		</li>
	</ul>
</div>
<h4 class='subtitle' id='vertambem'>Ver também:</h4>
<div class='container'>
	<ul>
		<li>
			<a href='/adicio'>Ataque de dicionário</a>
		</li>
		<li>
			<a href='/fbruta'>Ataque de força bruta</a>
		</li>
	</ul>
</div>
