---
layout: enciclopedia
title: Aritmética Modular
type: categoria
---

<h4 class='subtitle' id='descricao'>Descrição:</h4>
<div class='container'>
	<p>Um sistema de aritmética para inteiros onde os números estão entre alguns conjuntos de números</p>
  <p><a href='https://pt.wikipedia.org/wiki/Aritm%C3%A9tica_modular' target='_blank'>AQUI&#x2197;</a></p>
</div>
