---
layout: enciclopedia
title: Teoria dos Números
type: categoria
---

<h4 class='subtitle' id='descricao'>Descrição:</h4>
<div class='container'>
	<p>A teoria dos números é um ramo da matemárica pura que estuda as propriedades dos números em geral, mas com o foco nos inteiros</p>
  <p></p>
</div>
<h4 class='subtitle' id='uso'>Subdivisões:</h4>
<div class='container'>
	<ul>
		<li>
			Teoria elementar dos números
		</li>
		<li>
			Teoria analítica dos números
		</li>
		<li>
			Teoria algébrica dos números
		</li>
		<li>
			Teoria geométrica dos números
		</li>
		<li>
			Teoria transcendente dos números
		</li>
	</ul>
</div>
