---
layout: enciclopedia
title: OSInt
type: categoria
---

<div class='container'>
	<p>Coleta de informações abertas a todos (informações no facebook, instagram e outras contas publicamente disponíveis).</p>
</div>
<h4 class='subtitle'>Técnicas/Termos:</h4>
<div class='container'>
	<ul>
		<li>Encriptação</li>
	</ul>
</div>
<h4 class='subtitle'>Ferramentas:</h4>
<div class='container'>
	<ul>
		<li><a href='sherlock'>sherlock</a></li>
		<li>recon-ng</li>
		<li>SubBrute</li>
		<li>Truffle Hog</li>
		<li>Sublist3r</li>
	</ul>
</div>

