---
layout: enciclopedia
title: Defesa e Blue Team
type: categoria
---

<div class='container'>
	<p>Utilizar o conhecimento de um atacante para defender um sistema.</p>
</div>
<h4 class='subtitle'>Técnicas/Termos:</h4>
<div class='container'>
	<ul>
		<li>Sistemas Operacionais</li>
		<li>Linux</li>
		<li>Windows</li>
		<li>Active Directory</li>
		<li>honeypot</li>
	</ul>
</div>

