---
layout: enciclopedia
title: Geral
type: categoria
---

<div class='container'>
	<p>Essa categoria envolve o conhecimento necessário para começar em qualquer área.</p>
</div>
<h4 class='subtitle'>Técnicas/Termos:</h4>
<div class='container'>
	<ul>
		<li><a href='adicio'>Ataque de Dicionário</a></li>
		<li><a href='fbruta'>Ataque de Força Bruta</a></li>
		<li><a href='ahibrido'>Ataque Híbrido</a></li>
		<li><a href='ctf'>CTFs</a></li>
		<li><a href='wlist'>Wordlist</a></li>
		<li>Bases Numerais</li>
	</ul>
</div>

