---
layout: enciclopedia
title: Hardware Hacking
type: categoria
---

<div class='container'>
	<p>Modificação de circuitos eletrônicos para a área de segurança. Esses dispositivos podem ser usados tanto para fins positivos quanto negativos.</p>
</div>
<h4 class='subtitle'>Técnicas/Termos:</h4>
<div class='container'>
	<ul>
		<li>Circuitos</li>
		<li>Microcontroladores</li>
		<li>Drop Box</li>
		<li>Bad USB</li>
		<li>Eletrônica</li>
	</ul>
</div>
<h4 class='subtitle'>Ferramentas:</h4>
<div class='container'>
	<ul>
		<li>Rubber Ducky</li>
		<li>Arduino</li>
		<li>Raspberry Pi</li>
		<li>Digispark</li>
		<li>Lan Tap</li>
	</ul>
</div>

