---
layout: enciclopedia
title: Engenharia Reversa/
type: categoria
---

<div class='container'>
	<p>Explorar vulnerabilidades a partir da análise de código fonte.</p>
</div>
<h4 class='subtitle'>Técnicas/Termos:</h4>
<div class='container'>
	<ul>
		<li>Linguagens de Programação</li>
		<li>Assembly</li>
		<li>Descompilação</li>
	</ul>
</div>
<h4 class='subtitle'>Ferramentas:</h4>
<div class='container'>
	<ul>
		<li>radare2</li>
		<li>IDA pro</li>
		<li>gdb</li>
		<li>Ghidra</li>
		<li>Binary Ninja</li>
	</ul>
</div>

