---
layout: enciclopedia
title: Web
type: categoria
---

<div class='container'>
	<p>Exploração de aplicações web buscando por vulnerabilidades.</p>
</div>
<h4 class='subtitle'>Técnicas/Termos:</h4>
<div class='container'>
	<ul>
		<li>OWASP Top 10</li>
		<li>Injeção</li>
		<li>XSS</li>
	</ul>
</div>
<h4 class='subtitle'>Ferramentas:</h4>
<div class='container'>
	<ul>
		<li><a href='gobuster'>gobuster</a></li>
		<li>eyewitness</li>
		<li>sqlmap</li>
		<li>whatweb</li>
	</ul>
</div>

