---
layout: enciclopedia
title: stegsolve
type: ferramenta (linux, mac, windows)
---

<h4 class='subtitle' id='descricao'>Descrição:</h4>
<div class='container'>
    <p><code>Stegsolve</code> é uma ferramenta feita em Java que permite a visualização e algumas transformações simples em imagem, extração de dados, resolver stereogramas, combinar imagens e verificar várias coisas como formatos de arquivo, bytes adicionais, buracos em arquivos etc... (dependendo do tipo de imagem)</p>
    <p>Pode ser instalado <a href='http://www.caesum.com/handbook/Stegsolve.jar' target="_blank">aqui&#x2197;</a>. Ou pode, caso exista, ser instalado através do pacote da ferramenta pelo seu gerenciador de pacotes.</p>
    <p>As cinco funcionalidades podem ser encontradas na aba analyse.</p>
</div>

<h4 class='subtitle' id='uso'>Uso:</h4>
<div class='container'>

    <p> Caso tenha baixado o stegsolve.jar rodar:</p>
    <p>
    <code> java -jar stegsolve.jar</code>
    </p>
    <p> Caso tenha baixado pelo gerenciador de pacotes rodar:</p>
    <p>
    <code> stegsolve</code>
    </p>

</div>
