<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
		<link rel="stylesheet" href="/style/default.css">
		<link rel="icon" href="/favicon.png">
		<title>[E]ACH inTheShell</title>
	</head>
	<body>
		<header>
			<div class="nav-container">
				<nav>
					<div class="logo">
						<a href="/" style='font-size: xx-large;'>inTheShell_</a>
					</div>
					<div class="nav-bar">
						<a href="/writeups">Write-ups</a>
						<a href="/wiki">Enciclopédia</a>
						<a href="/atividades">Atividades</a>
						<a href="/sobre">Sobre</a>
					</div>
				</nav>
			</div>
		</header>
		{{ content }}
	</body>
</html>
