---
layout: enciclopedia
title: Ataque de Força Bruta
type: técnica
---

<h4 class='subtitle' id='descricao'>Descrição:</h4>
<div class='container'>
	<p>Ataques de força bruta testam todas as combinações possíveis para se obter a combinação certa de parâmetros (senha, usuário, etc).</p>
	<p><a>Subcategorias:</a></p>
	<p class='tabs'><a>Xieve</a></p>
	<p>Os mesmos procedimentos da força bruta, mas ele pula as tentativas que não fazem sentido. Ele usa uma tabela com as palavras mais usadas de cada língua.</p>
	<p><a>Ataque de máscara</a></p>
	<p class='tabs'>Os mesmos procedimentos da força bruta, mas tem um padrão definido (máscara) como um filtro. Como exemplo saber que a senha de alguém começa com 4 letras e 4 números, isso faz com que o número de tentativa diminua drasticamente.</p>
	<p><a>Ataque baseado em regras</a></p>
	<p class='tabs'>Gerar expressoes com certas regras impostas como letras maiúsculas, minúsculas, apenas a primeira letra maiúscula e outras regras do tipo.</p>
	<p><a>Ataque de caixa alternada</a></p>
	<p class='tabs'>Testa todas as possibilidades (maiúsculas e minúsculas) para as tentativas que contiverem letras. Por exemplo: ola, Ola, oLa, olA, OLa, etc..</p>
</div>

<h4 class='subtitle' id='ferramentas'>Ferramentas que utilizam ataque de força bruta:</h4>
<div class='container'>
	<ul>
		<li>
			<a href='/hydra'>hydra</a>	
		</li>
		<li>
			<a href='/hashcat'>hashcat</a>
		</li>
	</ul>
</div>
<h4 class='subtitle' id='vertambem'>Ver também:</h4>
<div class='container'>
	<ul>
		<li>
			<a href='/adicio'>Ataque de dicionário</a>
		</li>
	</ul>
</div>

