---
layout: enciclopedia
title: Computação Forense
type: categoria
---

<div class='container'>
	<p>A prática de extrair informações e evidências de mídias de armazenamento.</p>
</div>
<h4 class='subtitle'>Técnicas/Termos:</h4>
<div class='container'>
	<ul>
		<li>Esteganografia</li>
	</ul>
</div>
<h4 class='subtitle'>Ferramentas:</h4>
<div class='container'>
	<ul>
		<li><a href='exiftool'>exiftool</a></li>
		<li><a href='steghide'>steghide</a></li>
		<li>binwalk</li>
		<li>hexcurse</li>
        <li><a href='hexedit'>hexedit</a></li>
		<li>stegcracker</li>
		<li>zsteg</li>
		<li>stegoveritas</li>
        <li><a href='stegsolve'>stegsolve</a></li>
		<li>volatility</li>
	</ul>
</div>

