---
layout: enciclopedia
title: hashcat (regras)
type: ferramenta (linux, mac, windows)
---

<h4 class='subtitle' id='descricao'>Descrição:</h4>
<div class='container'>
	<p><a href='https://hashcat.net/wiki/doku.php?id=rule_based_attack'>Aqui&#x2197;</a> uma tabela completa de cada comando e o que cada comando faz e uma wiki mais aprofundada.</p>
	<p>As regras que forem colocadas aqui serão aplicadas em todas as palavras da lista escolhida.</p>
	<p>Para aplicar as regras no comando basta colocar "-r" e o nome do arquivo contendo as regras logo em seguida.</p>
	<p>Exemplo:</p>
	<p><code class='tab block'>hashcat hashes.txt dicio.txt -r regras</code></p>
	<p>Aviso:</p>
	<p>É bom saber que existe um arquivo no "~/.hashcat" com o nome "hashcat.potfile" que contém todos os hashes crackeados.</p>
</div>
<h4 class='subtitle' id='descricao'>Criando suas regras</h4>
<div class='container'>
	<p>Exemplos:</p>
	<p>Terminação com "2020":</p>
	<p>Conteúdo do arquivo de regras:</p>
	<p><code class='tab block'>$2$0$2$0</code></p>
	<p>Começo com "123", término com "asdf" e os dois juntos:</p>
	<p>Conteúdo do arquivo de regras:</p>
	<p><code class='tab block'>^3^2^1</code></p>
	<p><code class='tab block'>$3$2$1</code></p>
	<p><code class='tab block'>^3^2^1 $a$s$d$f</code></p>
	<p><b>Aviso:</b></p>
	<p>O código funciona na ordem em que foi colocado os comandos. Ou seja colocar um comando que remove um caractere no fim da palavra ("]") logo depois de ter adicionado um caractere ("$x") vai cancelar o caractere adicionado no final.</p>
	<p>Conteúdo do arquivo de regras: (essa regra não vai mudar em nada a palavra)</p>
	<p><code class='tab block'>$3 ]</code>
</div>
<h4 class='subtitle' id='testando'>Testando suas regras</h4>
<div class='container'>
	<p>Criar uma lista caso não tenha para testar suas regras.</p>
	<p>Usar o parametro "--stdout" para que seja impresso as palavras depois da regra ser aplicada.</p>
	<p>Exemplo:</p>
	<p><code class='tab block'>hashcat -r regras --stdout lista.txt</code></p>
</div>
<h4 class='subtitle' id='testando'>Gerando regras automaticamente</h4>
<div class='container'>
	<p>Número aleatório de regras:</p>
	<p><code>--generate-rules=NUM</code></p>
	<p>Número mínimo e máximo respectivamente de regras:</p>
	<p><code>--generate-rules-func-min=NUM</code></p>
	<p><code>--generate-rules-func-max=NUM</code></p>
	<p>Os NUM serão substituídos pela quantidade desejada</p>
</div>
<h4 class='subtitle' id='testando'>Salvar as regras que conseguiram quebrar o hash</h4>
<div class='container'>
	<p>(Boa combinação com as regras geradas automaticamentes)</p>
	<p>--debug-mode=1 --debug-file=arquivodesaída.regra</p>
</div>

